# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# NetBeans
nb-configuration.xml
nbactions.xml
nbproject/
build/
*.iml
*.ipr
*.iws
.idea/

# Eclipse
.settings/
.classpath
.project

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# NetBeans private (user-specific)
private/
